* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  line-height: 1.5;
  height: 100vh;
  width: 100%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  display: flex;
  justify-content: center;
  text-align: center;
  background: #2bc0e4; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #eaecc6,
    #2bc0e4
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #eaecc6,
    #2bc0e4
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
img {
  width: 7rem;
  height: 7rem;
  object-fit: cover;
  border-radius: 50%;
  padding: 0.5rem;
}

.heading {
  letter-spacing: 1.5;
  font-size: 3rem;
  padding: 2rem;
  margin-top: 2rem;
  background: linear-gradient(to right, #173e3d, #072a22);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.container {
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 4px 4x 30px #000;
  width: 50rem;
  min-height: 30rem;
  margin: auto;
  background: #2bc0e4; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom right,
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0.3)
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom right,
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0.3)
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  text-align: left;
  background-repeat: no-repeat;
  position: relative;
}
.foot {
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn {
  position: absolute;
  bottom: 2rem;
  left: 2rem;
  padding: 0.7rem 0.9rem;
  border: 1px solid #ccc;
  width: 10rem;
  border-radius: 0.5rem;
  font-size: 0.9rem;
  cursor: pointer;
  background: #072a22;
  color: #fff;
  /* margin-right: 10rem; */
}

i {
  position: absolute;
  bottom: 2.5rem;
  right: 2rem;
  font-size: 1.5rem;
  color: #072a22;
}

/* .copy {
  position: absolute;
  bottom: 3rem;
  /* left: 2rem; 
  font-weight: 200;
  padding: 0.5rem 1rem;
  border: 1px solid #57f8f0;
  border-radius: 0.5rem;
  color: #05ab8f;
} */

.invisible {
  visibility: hidden;
}
.quote {
  letter-spacing: 1px;
  transform: scale(0.94);
  animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
}

@media (max-width: 768px) {
  /* CSS rules for screens with a maximum width of 768px */
  /* For example, styles for mobile devices */
  body {
    font-size: 14px;
  }
  .container {
    width: 90%;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  /* CSS rules for screens with a minimum width of 769px and a maximum width of 1024px */
  /* For example, styles for tablets */
  body {
    font-size: 16px;
  }
  .container {
    width: 80%;
  }
}

@media (min-width: 1025px) {
  /* CSS rules for screens with a minimum width of 1025px */
  /* For example, styles for desktops */
  body {
    font-size: 18px;
  }
  .container {
    /* width: 70%; */
  }
}
